.topBody{
    min-height:40px;
    background-color: #F4AC45;
}
.topnav {
    overflow: hidden;
    background-color: #F4AC45;
  }
  

  

  
  /* Style the search box inside the navigation bar */
  .topnav input[type=text] {
    /* float: right; */
    padding: 6px;
    border: none;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 17px;
    background-color: #e9ad5a;
    width:400px;
    border:1px solid #e9ad5a
  }
  
  /* When the screen is less than 600px wide, stack the links and the search field vertically instead of horizontally */
